*{
    background-color: yellowgreen;
}

.head{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid black;
    
}
.mood >ul {
    list-style-type: none;
    display: flex;
}

.mood >ul >li {
    padding: 10px;
}

.pic{
    width: 80px;
    padding: 5px;
}

.card {
   width: 200px;
   border: 1px solid black;
   padding: 10px;
   margin: 10px;
   overflow-wrap:break-word;
}

.card > img {
    width: 100%;
    
}

.restaurant-list{
display: flex;
flex-wrap: wrap;
}

.shimmer-card{
    width: 200px;
    height: 200px;
    background : lightgreen;
    margin: 20px;
}
.menu{
    display: flex;
}